MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_FROM_EMAIL=termine@jakubwaller.eu
MAILJET_FROM_NAME=Leipzig-Termine
MAILJET_DAILY_QUOTA=6000
RESEND_API_KEY=
TOKEN_SECRET_PRIMARY=
TOKEN_SECRET_PREVIOUS=
ADMIN_TOKEN=
PUBLIC_BASE_URL=https://termine.jakubwaller.eu
DEDUP_WINDOW_HOURS=24
RATE_LIMIT_MINUTES=15
SUBSCRIPTION_TTL_DAYS=90
RENEWAL_REMINDER_DAYS_BEFORE=10
MAX_PLANS_PER_CITY=10
PARSER_CANARY_THRESHOLD_HOURS=2
SUBSCRIBE_RATELIMIT_PER_IP_PER_HOUR=5
SUBSCRIBE_RATELIMIT_PER_EMAIL_PER_DAY=1
DEVELOPER_EMAIL=
KOFI_URL=https://ko-fi.com/jakubwaller
DB_PATH=/data/app.db
CATALOG_SYNC_ENABLED=1
